[2016-08-21 11:17] rouault opened #1 "Lack of license & copyright notices"
I couldn't find any mention of the license of the code.

[2016-09-14 04:16] r-barnes commented on #1
Thanks for reminding me of this. I'm endeavouring to figure out what the best license would be!

Are there any licensing restrictions for your use case?

[2017-05-16 10:10] Froglich opened #2 "Unable to build for windows"
I am trying to build RichDEM for Windows on an Arch Linux box. I have installed MinGW and am running make as

$ make -f makefile.win

But the makefile expects me to have a dir named "richdem_windows", which does not exist so the build fails.

    $ make -f makefile.win

    i686-w64-mingw32-g++ `../../richdem_windows/install/bin/gdal-config --cflags` --std=c++11 -o rd_flood_for_flowdirs.exe flood_

[2017-09-13 02:24] col16 commented on #1
Hi Richard. I've just come across this repository via your (excellent) 2014 paper on Priority Flood. It's fantastic to have code available, particularly the parallel implementations. I'd like to echo Evan's request for a formal license. I can certainly appreciate the sentiment of "this value is yours to use", referring to the time you've put into it! But that statement wouldn't have much legal wei

[2017-09-13 02:44] r-barnes commented on #1
@col16: Thanks for commenting on this. I've been struggling with this back and forth for a while now.

From an academic/FOSS perspective, I want to see this code out there and used to make the world better.

From a "living on rice and beans" as an early-career academic perspective, there's one particular company (*cough* ESRI) that profits from a widely-used closed-source codebase with some seriou

[2017-09-13 09:46] rouault commented on #1
My 2 cents (and I'm not a lawyer): As currently done, nobody can legally use and distribute your code. What you could possibly do is release it under GPL v2+, AGPL or similar copyleft licenses, make sure that all future potential (and past) contributors other than you assign their copyright to you (contributor license agreement), or don't accept any external contribution, and then one day if you w

[2017-11-24 01:28] r-barnes commented on #1
@rouault: I'm working on putting together a Python wrapper for the library and thinking about the GPLv2+; I expect to finalize licensing sometime in the next couple of weeks. Does GPLv2+ work for your purposes?

I wonder why you were looking into this?

[2017-11-24 09:50] rouault commented on #1
I can't remember why I went to your project ;-) I don't have a personal need for it right now, so feel free to pick up what is best for you.

[2017-12-19 20:36] r-barnes commented on #1
The project is now licensed GPLv3.

It's on my TODO list to put license headers on the code.

[2017-12-19 20:36] #1 closed

[2017-12-19 20:38] r-barnes commented on #2
The `richdem_windows` directory was part of an effort to build a statically-linked version of the GDAL library for building Windows binaries.

I've now abandoned this effort in favour of distributing the code via Python, which, hopefully, will make the GDAL dependency easier to work with.

You can now install and use many of RichDEM's tools using:

    pip3 install richdem

[2017-12-19 20:38] #2 closed

[2018-01-03 22:42] theobarnhart-USGS opened #3 "segmentation fault in parallel_pf.exe"
Hi Rich,

I'm trying to get parallel_pf to run on my local machine and also on a USGS cluster and I get a segmentation fault in both when it runs (error below). It compiled without issue. Am I calling it correctly? I just want to do some simple comparisons with other algorithms.

Thank you!

(richDEM) tbarnhart@parallel_priority_flood$ mpirun -n 2 ./parallel_pf.exe one @
evict ~/projects/DEM_proce

[2018-01-04 03:02] r-barnes commented on #3
Sorry about that, some output info used for tiled datasets was mistakenly being displayed by the single tile mode resulting in the segfault: a one-line fix :-/

Things should be working as of v2.0.2

[2018-01-04 03:05] r-barnes commented on #3
The Python command line tools should be available now for easy serial execution as well: I'll be sending around an email about that in the next day or two.

[2018-01-04 03:05] #3 closed

[2018-01-04 15:44] theobarnhart-USGS commented on #3
Thank you Rich! That did the trick.

[2018-01-04 15:49] theobarnhart-USGS opened #4 "failed assertion in parallel_d8_accum"
Hi Rich,

Thank you for helping me with the other problem. Now when I try to run parallel_d8_accum it produces the following error and I've gdalinfoed the file I'm using below as well. Thank you for all your help!

(richDEM) tbarnhart@parallel_d8_accum$ mpirun -n 2 ./parallel_d8_accum.exe one @evict ~/projects/DEM_processing/data/0_0_richDEM_fill.tiff ~/projects/DEM_processing/da
ta/%n_richDEM_acc

[2018-01-08 17:19] r-barnes commented on #4
@theobarnhart-USGS Sorry about that. I'm a little busy this week, but will look into it as soon as I can.

In the meantime, I've reformatted your post so that the outputs are appropriately formatted. You can do this yourself by highlighting the outputs as pressing the `<>` button in the formatting bar, which will convert the outputs to "code" in a way which makes them much easier to read.

[2018-01-10 16:28] jwend opened #5 "rd_merge_rasters_by_layout.cpp compile error"
When compiling rd_merge_rasters_by_layout.cpp against GDAL 2.0.1 on CentOS 6.6 with GCC 4.8.4 the following error occurs:
[code]
This is caused by GDALGetDataTypeSizeBytes being not defined in this, and presumably earlier versions of GDAL.

Replacing line 53 with:

`int dtype_size = GDALGetDataTypeSize(file_type) / 8;`

compiles and should work. GDALGetDataTypeSizeBytes looks to be a convenience f

[2018-01-25 16:33] theobarnhart-USGS opened #6 "BreachDepressions missing in python RichDEM"
Hi Rich,

I'm back to testing out some of these tools in python. RichDEM installed to a python 3 environment without a hitch on one of the USGS clusters! However, it seems that the BreachDepressions function is missing although it is documented at richdem.com. Here is the error I get:

[code]

I used `pip install richdem` to install the package.

Am I missing something about where the function wen

[2018-01-25 18:08] theobarnhart-USGS opened #7 "Error in FlowAccumulation"
Hi Rich,

I get the following error in richdem.FlowAccumulation with both the 'D8' and 'Dinf' methods. Any thoughts on how to resolve it are appreciated.

Thank you!

[code]

[2018-01-25 18:33] theobarnhart-USGS commented on #7
The same error also occurs with the Rho8 method as well.

[2018-02-11 08:34] npongo opened #8 "installing on wndows"
I am trying to install in windows and having no luck. Below is the error I get:
  C:\Users\npongo\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.0\VC\Bin\amd64\cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -DDOCTEST_CONFIG_DISABLE "-DRICHDEM_COMPILE_TIME="2018-01-06 11:21:19 -0600"" -DRICHDEM_GIT_HASH="ef44525" -DRICHDEM_LOGGING -Ilib/ -Ic:\python27\include -Ic:\python27\PC /Tpsrc\p

[2018-04-29 01:44] r-barnes commented on #8
I have not tested Windows development significantly. Would the [Python wrapper](https://pypi.org/project/richdem/) suit your needs? This is likely the easiest way to get going.

Can you remove the `Wno-unknown-pragmas` and post the error message you see about `random.cpp`?

[2018-04-29 01:47] r-barnes commented on #7
Sorry, I've just seen this. I haven't been able to reproduce the problem on my machine. Could you verify that it is persisting?

[2018-04-29 01:49] r-barnes commented on #6
Sorry, I've just now seen this.

Depression breaching is now included (see [this](https://richdem.readthedocs.io/en/latest/depression_breaching.html)).

It had been present until I found a bug in the selective breaching algorithm. I haven't yet fixed down the cause of that, so I've released only complete breaching for now.

[2018-04-29 01:49] #6 closed

[2018-05-02 17:13] theobarnhart-USGS commented on #7
Hi, I just re-ran this and it looks like the issue is still persisting.

[code]

[2018-05-07 00:54] r-barnes commented on #7
Could you send me the data file you're working with? Although the algorithms should work with any data type, there are a few I haven't done extensive testing on. I have a feeling that might be the case here.

[2018-05-07 19:39] r-barnes commented on #7
Thanks. I can reproduce the issue using the following code:
[code]
I'm looking into it.

[2018-05-07 21:06] r-barnes commented on #7
The following C++ code reproduces the issue:
[code]

It can be compiled with:
[code]

[2018-05-07 21:09] r-barnes commented on #7
Confirmed that the bug does not appear on the 2418x1636 Float32 beauford dataset, but does appear on the 19742x28685 Float32 cedar dataset.

[2018-05-07 23:37] r-barnes commented on #7
The bug turned out to arise from an integer overflow error in resizing the flow proportions array. That is, the input data was larger than the flow accumulation code expected, though still well within the operable range of the software.

This bug is fixed as of 9b523dadd43816dbbc08a20873bed057b1f97048 on the dev branch.

@theobarnhart-USGS: Are you up for testing from dev? (If you're on Linux/Mac,

[2018-05-08 17:58] theobarnhart-USGS commented on #7
I think I should be able to test that from dev. I can probably give it a
shot tomorrow. Thank you for investigating that bug!

On Mon, May 7, 2018 at 5:37 PM, Richard Barnes <notifications@github.com>
wrote:

--
Theodore Barnhart
tbarnhart@usgs.gov
Physical Scientist
WY-MT Water Science Center
U.S. Geological Survey
Helena, MT

[2018-05-14 22:01] theobarnhart-USGS commented on #7
I can't really tell if I've built the dev version correctly, but here is the error that it throws now:

[code]

[2018-05-25 15:29] konradhafen commented on #8
I get a similar error when installing the python wrapper on windows with `pip3`.

`cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MT -DDOCTEST_CONFIG_DISABLE "-DRICHDEM_COMPILE_TIME="2018-05-20 11:01:43 -0600"" -DRICHDEM_GIT_HASH="a12da15" -DRICHDEM_LOGGING -Ilib/ -IC:\Users\khafe\Anaconda3\include -IC:\Users\khafe\Anaconda3\include "-IC:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\Include" "-IC:

[2018-05-28 22:20] r-barnes commented on #7
@theobarnhart-USGS: I'm sorry about the difficulties here.

I've released a new version of the code to PyPI. It should be installable with `pip install richdem` and, hopefully, work. Could you test again?

I've also overhauled the release system to make it easier to push out bug fixes to issues like this.

[2018-05-28 22:44] r-barnes commented on #8
@npongo: I've added compiler detection to the Python setup system. Is it possible for you to test from dev?

[2018-06-05 20:36] HCA97 commented on #8
Hi,
I tried to install on windows 10 python 3.5 via pip3 unfortunately it failed. The console output was to long so, I put it in a text file.

It gave me this error;
[code]
I also got a lot of warnings related to conversion of types and cl.exe.

[console output.txt](https://github.com/r-barnes/richdem/files/2073861/console.output.txt)

[2018-06-06 05:19] r-barnes commented on #8
@HCA97 : Do you know which version of MSVC are you using?

[2018-06-06 10:49] WindingWinter opened #9 "Provide examples for C++ usage"
I notice that RichDEM is rich with python script example ( such as [this one](https://richdem.readthedocs.io/en/latest/example_dems.html)), but I don't see C++ calling.

I'm planning to call RichDEM from my C++ code, and as such, C++ sample would be useful.

Thank you for your help!

More info: I'm running on Windows, Visual Studio 2015. So it would be great if you can provide the VS 2015 solution

[2018-06-06 17:45] HCA97 commented on #8
Hi,
I think I am using ```MSC v.1900 64 bit```.
![image](https://user-images.githubusercontent.com/24678502/41054418-959cf48a-69be-11e8-9342-432768fb233d.png)

[2018-06-06 17:51] r-barnes commented on #8
@HCA97: I think I have a workaround. Would you be up for trying to build from dev?

Alternatively, I'm working on getting Appveyor setup after which it might be possible to install without having to compile locally. Or, at least, for me to test things on my end. But it could take a couple of weeks before I get that fully running.

[2018-06-06 19:36] HCA97 commented on #8
Hi,

I tried to build it but it gave again warnings related to cl.exe and this time I got these errors:
[code]
This is the console output:

[code]

[2018-06-08 16:59] r-barnes commented on #8
Looks as though it's some kind of `include` issue. I'll try to get ahold of a Windows machine this weekend to look into it.

[2018-06-11 05:55] r-barnes opened #10 "How do I use RichDEM with FORTRAN?"
How do I use RichDEM with FORTRAN?

This question arose with a collaborator and is a stub to post some code we developed.

[2018-06-11 05:57] r-barnes commented on #10
To perform depression-filling from FORTRAN use the following:

# C++ file
[code]

# FORTRAN File

[code]

# Makefile

[code]

[2018-06-11 05:57] #10 closed

[2018-06-14 04:58] WindingWinter opened #11 "Any suitable watershed algorithms that one can use for urban terrain with lots of flat area?"
My terrain is highly developed urban area, with a lot of paved development and flat surface, and platform with sudden drop ( think of retaining walls and drains).

Without knowing the specific characteristics of the urban area, I wonder whether is there any flow accumulation/watershed algorithms that are suitable?

[2018-06-21 21:19] theobarnhart-USGS opened #12 "function options do not match python api documentation"
[code]

[2018-06-21 22:08] theobarnhart-USGS commented on #7
version 0.3.3 appears to have resolved this. Thank you @r-barnes!
[code]

[2018-06-21 22:08] #7 closed

[2018-07-09 15:16] Firiyuu commented on #8
I'm still getting this same kind of error. Did this have any solution for a fix?

[2018-07-10 21:47] xuezhicang commented on #8
@Firiyuu hi i tried the virtual machine which can use Linux. The install process is very easy and straightforward. Try that, that should be a easy way than installing it in Windows.

[2018-07-13 18:52] r-barnes commented on #8
@Firiyuu and @xuezhicang and @HCA97 and @konradhafen and @npongo : I've got access to a Windows via virtual box. If you have any instructions for duplicating your build environments, I'd be interested in hearing them. I'm not sure how to get pip running with a C++ compiler on Windows. Once I have this set up, it should be significantly easier to get this working for you all.

[2018-07-13 22:32] r-barnes commented on #11
@WindingWinter: The depression-filling algorithm has an [epsilon gradient](https://richdem.readthedocs.io/en/latest/depression_filling.html#epsilon-filling) option which can be used to ensure that flat surfaces drain.

You could also fill/breach depressions and then use a [flat resolver](https://richdem.readthedocs.io/en/latest/flat_resolution.html).

You will probably want to retain your original

[2018-07-13 22:32] #11 closed

[2018-07-13 22:34] r-barnes commented on #4
This probably has something to do with the file having the Int16 data type.

I should be able to fix this.

In the meantime, do you experience problems on Int32 or Float32/Double32 data?

[2018-07-13 22:39] r-barnes commented on #9
This is a weakness of the current documentation. However, the C++ functions you need should be listed in the documentation and more information about this functions can be found in the [C++ documentation](https://richdem.readthedocs.io/en/latest/cpp_api.html).

Look in the `richdem/apps` directory to find a number of example scripts using the C++ portions of the library.

It's unlikely that I will

[2018-07-13 22:39] #9 closed

[2018-07-13 22:41] r-barnes commented on #12
Sorry about this and thanks for pointing it out!

For the time being complete is the only option, so the `mode` keyword is removed. I'm working on getting selective and constrained breaching modes working, though.

[2018-08-21 16:32] joshburkart opened #14 "Trouble installing on Mac"
Hello! Thank you so much for providing this code!

I'm having trouble installing on Mac (Linux works fine)...

### System info

* Anaconda Python 3.6:
[code]
* Pip 18.0:
[code]
* Mac OSX High Sierra, 10.13.6
* Compiler info:
[code]

### Pip logs

[code]

[2018-08-21 20:15] joshclimacell opened #15 "Allow disabling verbosity"
Hello,

The progress bar that gets emitted seems super useful for interactive analysis, but it is quite obtrusive when using `richdem` in non-interactive code, where the output gets jumbled all together. It'd be great if it could be disabled somehow, e.g. passing `verbose=False`.

[2018-08-21 22:02] joshburkart commented on #15
Example output:

[code]

[2018-08-31 10:20] rbunel opened #16 "Trouble with pit filling and slope applying"
[code]

[code]

I realize that when I try to correct flat areas with the ResolveFlats function, my flat area turns back into depression. The slope gradient for the flat area is in the opposite direction to what might be expected.

Could you please enlighten me on that point?

Thanks in advance

[2018-09-01 15:45] rbunel opened #17 "Retrieve D4 flow direction raster"
Hello!

I would like to be able to recover the flow direction raster for D4 algorithm.

I tried to get it from Flow Proportions function :

`beau=rd.LoadGDAL("dem.tif")`
`beau_filled=rd.FillDepressions(beau,epsilon=False,in_place=False,topology='D4')`
`bprops=rd.FlowProportions(dem=beau_filled,method='D4')`

However, I get cells with no flow (`-1 value` ; 0th value of the nine values) although I m

[2018-09-12 18:49] konradhafen commented on #8
@r-barnes @Firiyuu @xuezhicang @HCA97 @npongo : I was able to successfully install richdem on Python 3.6 on Windows 10. The problem I was running into was the link between pip and they Microsoft C++ compiler. From the command line I updated pip `python3 -m pip --upgrade pip` and installed setuptools `python3 -m pip install setuptools`. I downloaded and installed the [Microsoft Visual C++ 14.0](htt

[2018-09-24 04:34] r-barnes commented on #8
Congrats, @konradhafen! Have you tested any functionality? Is there anything I can do to streamline or otherwise document the process you describe? (I'm working on getting Python Wheels built for Windows, but the process is somewhat mysterious.)

[2018-09-25 15:52] konradhafen commented on #8
@r-barnes : Once I figured out what was causing the problem, the installation fairly simple. Building the Python Wheels would probably be the best way to streamline installation. I have done some testing. For the most part I'm very impressed, especially with the speed of the flow accumulation routines. I have encountered one problem, a bad alloc error on a large dataset. I've tested with DEMs of s

[2018-09-26 21:41] joshclimacell commented on #14
This worked 🤷‍♂️ :

[code]

[2018-09-26 21:42] joshclimacell commented on #14
(I can't close the issue -- might want to revise permissions...)

[2018-09-28 18:44] r-barnes commented on #8
@konradhafen : I'll certainly keep wheels on the todo list, then. It's just quite a bother getting an automated compilation and distribution process going.

Yes, I suspected that larger DEMs would have a problem. I have a [paper](https://www.sciencedirect.com/science/article/pii/S1364815216304984?via%3Dihub) and associated code describing how to do D8 flow accumulation for trillion-cell DEMs and a

[2018-10-05 00:54] r-barnes commented on #15
This is a good idea. As a workaround until I have time to fix this, you could consider temporarily redirecting output:

    https://stackoverflow.com/questions/6796492/temporarily-redirect-stdout-stderr

Does this help?

[2018-10-05 00:55] r-barnes commented on #14
Glad you got it working!

[2018-10-05 00:55] #14 closed

[2018-10-05 01:19] joshburkart commented on #15
Ah, I tried that but it unfortunately didn't seem to work... I'm guessing `contextlib.redirect_stdout` only operates within Python and doesn't affect C++ stuff that writes directly to `/dev/stdout`? Anyways I can totally just eat the messages for now! 😁

[2018-10-23 23:11] konradhafen commented on #8
@r-barnes I'll work with rich-dem a little more and and let you know my thoughts on the the algorithm for large rasters. Right now I'm investigating rich-dem for a project that isn't totally off the ground yet so I'm not exactly sure what I need.

[2018-10-30 15:35] konradhafen commented on #17
@r-barnes I'm having a similar issue with `rd.FlowProportions` in Python. There are two specific issues. First, the row, column dimensions do not match the input DEM. The documentation explains `rd.FlowProportions` returns an array of dimension row, column, layers (9). I'm getting a return of row, layers, columns. I do have cells that show a value for producing flow (0), but there are no flow prop

[2018-11-02 21:30] r-barnes commented on #17
@konradhafen and @rbunel : To clarify, each cell is represented by 9 values. The first indicates whether or not there is flow and the next 8 indicate how much flow is sent to each neighbour ([link](https://richdem.readthedocs.io/en/latest/flow_metrics.html#accessing-flow-proportions-directly)). Looking at it, I admit that it is confusing that `-1` is used to represent the NoFlow condition. This sh

[2018-11-02 21:38] r-barnes commented on #16
@rbunel: This looks like a bug. I'll try to get around to fixing it soon.

[2018-11-02 22:41] konradhafen commented on #17
@r-barnes my apologies and my mistake, I completely missed the positive 1s. And thanks for the formatting edit and tip.

[2018-11-16 12:54] adolmajian opened #18 "Watershed calculation"
Any idea on how to use richdem for watershed delineation?

[2018-11-30 05:00] becharte opened #19 "Can richdem work with python 2.7 on windows"
Hi, I have tried to load richdem and can't because of  "Failed building wheel for richdem"
I have windows 10, 64-bit os and x64 based processor
I have downloaded anaconda with python 2.7
upgrade pip "python -m pip install –-upgrade pip setuptools wheel"
    install pyhamcrest "pip install PyHamcrest"
    install argparse  "conda install -c anaconda argparse"
 installed  "Rtree-0.8.3-cp27-cp27m-win

[2018-11-30 13:20] giswqs commented on #19
You probably need to install [Microsoft Build Tools for Visual Studio 2017](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=15).

Check the installation step [here](https://github.com/giswqs/lidar#windows).

[2018-12-01 05:19] becharte commented on #19
I had installed VisualStudio but never even open it to make any adjustments.  I did hit your link in case it was something different to what the anaconda site downloaded.
The error I get when I tried to install any of the  wheels is "is not a supported wheel on this platform."
To install them I'm just using "pip install and then the file path name" .
In the wheel names there is a cp27,  do you kno

[2018-12-01 17:12] giswqs commented on #19
Some packages (e.g., gdal, richdem, rasterio) can be a bit challenging to install on Windows. You might want try Linux using [VirtualBox](https://www.virtualbox.org/).

For your convenience, I have deployed richdem to [binder](https://mybinder.org/), an interactive cloud environment. Now you can simply use an Internet browser on any operating systems to test richdem. Check the links below. Hope it

[2018-12-05 14:01] DavidLitwin opened #20 "Setting geotransform for rdarray"
I'm trying to set the geotransform on an rdarray that I make from a numpy array. It doesn't seem to be working, as that attribute of the rdarray remains blank after I set it, and "Warning! No geotransform defined...." continues to appear after I run FillDepressions and FlowAccumulation. Can anyone help?

`eta = np.ones((len(x),len(y)))*z_0 + 0.01*np.random.rand(len(x),len(y))
 dem = rd.rdarray(eta

[2018-12-05 14:52] giswqs commented on #20
You probably need to define a projection. See an example below:

[code]

[2018-12-05 15:32] DavidLitwin commented on #20
Thank you, defining the projection solved the problem.

[2018-12-05 15:32] #20 closed

[2019-02-11 20:11] daniellivingston opened #21 "Using RichDEM in a Jupyter notebook fails"
On Jupyter 4.4.0, calling `import richdem` fails with `The kernel appears to have died. It will restart automatically.` and this console log output:

[code]

With `--debug`,

[code]

[2019-02-11 20:14] daniellivingston commented on #21
Other users have reported this same issue with Tensorflow. Maybe related to Ctypes + parallelization?

[2019-03-20 09:54] crousson opened #22 "bad_alloc in parallel_pf"
Hi,

I tried to run the parallel priority flood program on a rather large DEM.
The program halt on the second processing step with bad_alloc.

I ran the program on a 8-core Xeon machine with 16 Go RAM, running on Ubuntu 18.04.2

Any pointer to solve this issue ?
Can it be caused by insufficient memory resources ?

I include hereafter some output information on the error, with the hope it will help

[2019-04-02 19:14] rabernat opened #23 "conda forge package?"
Thanks so much for providing this amazing tool the the python community!

Several users here at LDEO (e.g. @jkingslake, @jjspergel)  are interested in trying richdem but are hitting problems with the pip install.

Most scientific python packages, especially those with compiled code, now provide a conda-forge package. The [process for creating a conda-forge recipe](https://conda-forge.org/#add_reci

[2019-04-02 19:32] giswqs commented on #23
@rabernat  I ran into a similar issue with pip installation before, so I uploaded it to [Anaconda Cloud](https://anaconda.org/giswqs/richdem). You can try install it using the following command. All credit goes to Dr. Richard Barnes for developing such a great Python package.

`conda install -c giswqs richdem`

[2019-04-02 19:48] rabernat commented on #23
@giswqs - that sounds like a good temporary solution.

conda-forge is probably a better long term choice because it automatically builds the recipe for all platforms and automatically re-builds every new release. It doesn't have to be the owner of the repo who creates the conda-forge recipe. You could easily do it yourself if you already have experience with building and packaging richdem.

No, so

[2019-04-02 23:28] giswqs commented on #23
@rabernat I have created a [conda-forge recipe](https://github.com/giswqs/staged-recipes/blob/richdem/recipes/richdem/meta.yaml) for richdem. However, it failed to pass the AppVeyor test.To resolve the first error, I modified the [.appveyor.yml](https://github.com/giswqs/staged-recipes/commit/07089a4e1bf3f64eb147db82a9d69b5c6305a0ce), which leads to the second error. Any advice?

1. [#error :  pyb

[2019-04-23 16:06] tomasjuanl commented on #15
I have the same problem. This has worked for me:

https://thesmithfam.org/blog/2012/10/25/temporarily-suppress-console-output-in-python/

[2019-04-23 19:58] mberry28 commented on #23
Hi,

I tried to this same thing:

$ conda install -c giswqs richdem

Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - richdem

Current channels:

  - https://conda.anaconda.org/giswqs/osx-64
  - https://conda.anaconda.org/giswqs/noarch
  - https://repo.anaconda.com/pkgs/main/osx-64
  - https:/

[2019-04-23 20:26] giswqs commented on #23
@mberry28 I just tested it. The installation `conda install -c giswqs richdem`  works fine on my Linux machine. I am sorry I don't have access to MacOS. Have you tried `pip install richdem`?

[2019-04-26 18:10] jsosa opened #24 "parallel_flats.exe passing a NULL argument"
Hi, I'm having some issues in "parallel_flats". The problem basically states that a string is passing a NULL argument, it happens when the program tries to save results `fds.saveGDAL(output_filename);`. See error below.

I zipped the files I'm using in case you want to reproduce the error:
https://uob-my.sharepoint.com/:f:/g/personal/js16170_bristol_ac_uk/EnskrpF-f11GiNuOKDiZCHQBAGJRl5OS56CIgOtT51

[2019-05-09 17:29] shubham9436 opened #25 "Volume Calculation"
Is there any way to calculate the total volume of the DEM?

[2019-06-03 23:50] dcgull opened #26 "Internally draining basins should not be filled"
import richdem as rd
import numpy as np

arr = np.array([[250,260,265,270],[240,-9999,100,210],[230,220,225,205]])
dem =  rd.rdarray(dem, no_data=-9999)

dem_filled = rd.FillDepressions(dem)
dem_filled_e = rd.FillDepressions(dem, epsilon = True)

[[250 260 265 270]
 [240 205 205 210]
 [230 220 225 205]]

[[  250   260   265   270]
 [  240 -9999   204   210]
 [  230   220   225   205]]`

[2019-06-13 23:26] dcgull commented on #26
@r-barnes is this a bug or expected behavior?

[2019-06-14 18:42] ramalee420 commented on #23
Hi @giswqs, I am getting the same error as @mberry28 when I try "installation conda install -c giswqs richdem" (ie, PackagesNotFoundError). When I try "pip install richdem" I get this:

Building wheels for collected packages: richdem
  Building wheel for richdem (setup.py) ... error

Do you know how else to install richdem? I am using Python 3.7 in Anaconda on a MacOS. Thanks in advance.

[2019-06-14 19:00] rabernat commented on #23
The long term solution here is to get the conda-forge build working as @giswqs is trying to do.

@giswqs - you should direct your conda forge build questions to the conda-forge team. Can you link to your staged-recipes PR?

[2019-06-14 19:10] ramalee420 commented on #23
Is there a way to build directly through the Terminal? I tried running the wheelhouse and setup.py files, but that didn't work. I think some directory names have changed. What is the best solution to build this on my local machine ASAP?

Thanks.

[2019-06-24 16:57] xuezhicang opened #27 "parallel_priority_flood: processes are occupied"
Since my data volume is very large, I am trying to use the parallel_priority_flood tool (https://github.com/r-barnes/richdem/tree/master/programs/parallel_priority_flood) to fill the pits.

I have compiled the program. When I run the program, it reported error message as below:
****************************************************
Job starting at: Sun Jun 23 23:12:09 CDT 2019
**********************

[2019-06-24 17:03] r-barnes commented on #27
`@offloadall` is not a valid option. Choose `@evict` or `@retain`, as suggested by the error message and the help text.

[2019-06-24 17:03] #27 closed

[2019-06-24 18:24] xuezhicang commented on #27
Thanks! The program works.

[2019-07-07 21:31] xuezhicang opened #28 "Global DEM"
I am using the parallel_priority_flood algorithm to process the global Mars DEM(https://astrogeology.usgs.gov/search/details/Mars/GlobalSurveyor/MOLA/Mars_MGS_MOLA_DEM_mosaic_global_463m/cub). The speed of your program(https://github.com/r-barnes/richdem/tree/master/programs/parallel_priority_flood) is undoubtedly amazing! So far, I still have a small question.

I run the parallel_priority_flood a

[2019-07-11 21:41] rabernat commented on #23
The conda-forge package is now available! It is now trivial to install in linux and mac-os

[code]

https://anaconda.org/conda-forge/richdem

[2019-07-11 21:44] rabernat commented on #23
Recipe is here: https://github.com/conda-forge/richdem-feedstock

[2019-08-05 05:46] smultsch opened #29 "Access flow direction array directly"
Hello Richards,

I have started to work with the richdem Python package. It is a great tool! I am using winpython37 and the tools works out of the box just by using the pip installer.

I have two question/request which would greatly help me in my current work:

(1)    Is there a function to access the flow coordinate system (https://richdem.readthedocs.io/en/latest/flow_metrics.html), so the value

[2019-08-10 05:15] xuezhicang opened #30 "syntax of parallel_flats.exe"
After I used the parallel_priority_flood (https://github.com/r-barnes/richdem/tree/master/programs/parallel_priority_flood) to filled the pits of DEM, I am trying to use the tiled_flat_resolution program ( https://github.com/r-barnes/richdem/tree/master/programs/tiled_flat_resolution)  to solve the flat surface problem.  The parallel_priority_flood is a very fast and easy-use parallel program. The

[2019-08-16 20:38] jmjones-usgs opened #31 "SSL certificate failure on pip install"
Ran pip install richdem in a python 3.6 conda environment on Windows 10 and got this error showing a certificate problem

(py36) C:\>pip install richdem
Collecting richdem
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)'),)': /simple/ri

[2019-08-16 21:17] jmjones-usgs commented on #31
Solved with

pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org richdem

[2019-08-16 21:17] #31 closed

[2019-10-09 08:01] johnniehard opened #32 "Documentation link in README not working"
Hi @r-barnes,

just wanted to let you know the documentation link in the README is not working. I get this when clicking the link:

![image](https://user-images.githubusercontent.com/9264787/66462622-c47e4f80-ea7b-11e9-8d30-be1e1c592869.png)

[2019-10-09 13:12] johnniehard commented on #4
I'm getting the same errors, with the exception that it seems to be running some of the jobs?

[code]

I've tried digging around the code, but I've never worked with c++ so I'm a bit lost.

[2019-10-09 16:47] r-barnes commented on #32
Thanks! I've updated a DNS record which should propagate in at most a day. The documentation is at "https://richdem.readthedocs.io/en/latest/" in the meantime.

[2019-10-09 16:47] #32 closed

[2019-10-14 14:59] johnniehard commented on #4
@r-barnes here's the DEM if you have the time to have a look: https://drive.google.com/open?id=1-NarHegMQiH6WmhfjR_4NlvB6tuEEsIb

[2019-10-19 15:38] johnniehard commented on #4
@r-barnes just want to let you know that we're working on this and making progress. It mostly turned out to be mismatches between code and documentation. PR coming up.

[2019-11-07 20:05] jryoung3 commented on #23
@rabernat I think it is broken again. I'm getting the same error as @mberry28 had on Apr 23. Any recommendations?

[2019-11-27 21:34] kylebarron opened #33 "Broken docs link"
The link to the docs from the README is: http://richdem.com/doc/index.html. It looks like this is outdated, and should be updated to just http://richdem.com

[2019-12-19 00:48] peteWT opened #34 "slope_percentage units"
Thank you for this very performant library! I am working with a DEM:
[code]
and running the following:
`rd.TerrainAttribute(rdem, attrib='slope_percentage')`

i get the following:

[code]

Can someone help me to understand the units in the derived slope raster? I was expecting a floating point between 0 and 1. Thank you!

[2019-12-19 01:21] peteWT commented on #34
I think I may have figured out that this is an artifact of the difference in units between the coordinate reference system and the raster cell values. Can be solved either by using the `zscale` parameter or by transforming the CRS..

[2019-12-19 14:51] peteWT commented on #34
Hi,

Transforming the source DEM to `EPSG:26910` results in equally unintelligible units:

[code]
This seems to be an issue also [here](https://www.earthdatascience.org/tutorials/get-slope-aspect-from-digital-elevation-model/) where slope units are 10,000 - 70,000

Thanks for any insight here..

[2020-01-26 16:53] jfbourdon opened #35 "Multithreading possible for Depression-Filling?"
The [documentation of RichDEM](https://richdem.readthedocs.io/en/latest/intro.html) states that it "*uses parallel processing and state of the art algorithms to quickly process even very large DEMs.*" I'm amazed at how fast it is even with large high resolution DEMs compared to the tools I used before. However, for the tool Depression-Filling for example, it didn't use parallel processing (the pro

[2020-02-20 21:51] KMarkert commented on #18
I wrote a function on how to do this with Python which takes the results from `rd.FlowProportions()` as an array and a gauge location as list of [y,x](should be index based on image dims) as arguments and returns an array where 1 is the catchment. This is *really slow* in Python so probably not the best approach and would need to be optimized for large scale application....

[code]

[2020-02-24 21:05] AnsArn opened #36 "Have to flip the calculated aspect vertically"
Since now I calculated the aspect of a digital elevation model with the following command:
[code]
When I calculate the aspect with richdem within Python:
[code]
I have to flip the array vertically (with numpy.flipud(aspect)) to store the aspect as netCDF and have the same results as with gdaldem.
Could you help me to identify what might be the reason. I want to calculate the aspect with richdem, b

[2020-04-27 05:45] adolmajian opened #37 "Quiet mode?"
Any way to run richdem in quiet/silent mode?

[2020-05-12 21:08] anyosa opened #38 "Problems with GDAL. Tried to install GDAL with pip but I couldn't"
Hi,
Do you have any advice to solve the GDAL problem? (I'm using macOS Catalina).
Thanks!

shasta_dem = rd.LoadGDAL(dem_path)
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-6-bf11d29e6c4a>", line 1, in <module>
    shasta_dem = rd

[2020-05-12 21:21] giswqs commented on #38
Try using conda to install it. You will need [Anaconda](https://www.anaconda.com/distribution/#download-section) or [Miniconda](https://docs.conda.io/en/latest/miniconda.html) installed on your computer.
[code]

[2020-05-29 14:07] parbelet commented on #34
Hi @peteWT, did you manage to find out an explanation for these slope values?

[2020-06-26 16:15] parbelet commented on #34
I did manage to get it to work: richdem does not handles the UTM re-projection, you must do it beforehand

[2020-07-02 18:27] dzanaga opened #39 "Suppressing log messages"
Is there a way to suppress the log messages?

I am using `richdem` to perform calculations on a lot of small locations in a loop. As a result I get very verbose logs from richdem with a progress bar and the citation string. This is a bit annoying when I collect the logs and check them after large jobs on a cluster. Is there an option to turn of log messages from the C libs when using the python ap

[2020-07-06 07:42] florianbeyer commented on #23
@rabernat

Please re-open the issue. I get the same error as @mberry28 and @jryoung3

(using Anaconda on a  Win10 machine)

[2020-09-01 17:31] LoneWanderer-GH commented on #23
Hi,
I'm facing the same issue with W10 machine.
[code]

But as per this message, I think Windows was never supported:

And indeed, the recipe gives no instruction concerning windows (https://github.com/conda-forge/richdem-feedstock)

Maybe this should be brought to @ocefpaf 's attention ? I think he's the recipe owner.

(For future reference here is a recipe for several archs including win: https:

[2020-09-01 19:14] ocefpaf commented on #23
Folks, there is no `richdem` on Windows in conda-forge. Compiling stuff on Windows is an art and we have very few of those artists in our community.

If someone here has Windows expertise please send a PR to https://github.com/conda-forge/richdem-feedstock

[2020-09-10 11:31] rkbanagar opened #40 "Flow accumulation raster is not in sync with actual river network"
Hi

A problem location in my study area on Open Street Map basemap as below
![image](https://user-images.githubusercontent.com/30895369/92723205-61c9be00-f386-11ea-825b-82bb94bac432.png)

But, FAC derived through RichDEM with Dinf algorithm is not in sync with the basemap as below
![image](https://user-images.githubusercontent.com/30895369/92723350-92115c80-f386-11ea-8ebd-bfd24538670a.png)

And, F

[2020-12-10 13:25] sluedtke commented on #29
Hi there,

are there any news about this question? I need a similar output and would be happy to use the available tools.

cheers,

Stefan

[2021-02-27 20:42] tylaa commented on #8
Hello,

i have the same problem to install richdem on windows with python 3.7.
Pip and setuptools are up to date.
pip             21.0.1
setuptools      53.1.0

`ERROR: Command errored out with exit status 1:
     command: 'c:\users\maple\pycharmprojects\demvalidation\venv\scripts\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Maple\\AppData\\Local\\Temp\\pip-in

[2021-02-28 00:05] tylaa commented on #8
I could fix the problem as deinstall all microsoft c++ buildup tools and reinstall only the newst one

[2021-03-23 01:25] kongdd opened #41 "richdem/common/interface.hpp missing"
The file `richdem/common/interface.hpp` is not available:
https://github.com/r-barnes/richdem/blob/master/include/richdem/depressions/main.cpp#L1

[2021-03-30 09:11] SaddamAliKhokhar opened #42 "rd.rdShow() raises value error: cannot convert float NaN to integer"
Hello,

I downloaded DEM from Google earth engine as tiff files and loaded it in richdem, when I try to print rdarray with rd.rdShow(dem), it raises value error: cannot convert float NaN to integer. Even I type casted all values in my DEM to to int type, filled all nan values with -9999 and reset dem.no_data to -9999, but still it is raising same error. Please see in picture below;
![Richdem](http

[2021-10-01 12:48] parbelet commented on #39
That'd be great indeed!

[2021-10-01 14:40] giswqs commented on #39
Try the ipywidgets Output widget to collect and hide logs

https://ipywidgets.readthedocs.io/en/latest/examples/Output%20Widget.html

[2021-11-11 14:07] hobu opened #46 "Update pybind11"
The currently vendored pybind11 does not build against Python 3.10. It should be updated or removed.

[2021-12-22 19:20] Joeperdefloep commented on #35
The depression-filling algorithms use a (single) priority queue, so that is really hard to multi-thread. I think this is also difficult to make parallel in the near future

[2021-12-22 20:33] jfbourdon commented on #35
It makes sense, thanks.

I suppose the raster could be split internally into tiles which would be processed by each core available (4 cores = 4 tiles), then merged back together before having a final (single-core) pass on the whole raster. My reasoning here is that most depressions would already be filled and only depressions crossings tiles would have to be filled (a second time). I don't know if

[2021-12-23 21:55] feefladder opened #47 "Develop install error: Missing `lib/richdem/common/random.cpp`"
First of all, thanks for the great library! I wanted to delineate a catchment, for which there is a C++ function in methods, which is not exposed. So when trying to install, I got the above error. I could also not find any `.cpp` files in the `pyrichdem/libs` folder, so I don;t really understand why the setup.py points to files there.

# steps to reproduce

[code]
gives the error that setup.py loo

[2021-12-23 22:02] Joeperdefloep commented on #35
Oops I was talking bs. Actually in #22 someone tried to do that. and there is documentation [here](https://github.com/r-barnes/richdem/tree/master/programs/parallel_priority_flood). you could maybe give it a shot? (not in Python though)

[2022-02-24 19:09] cuill commented on #47
You have to cd into wrappers/pyrichdem directory to do "pip install -e . ", then you will have the correct path to "random.cpp" and "richdem.cpp":
 glob.glob('src/*.cpp') + ['lib/richdem/common/random.cpp', 'lib/richdem/richdem.cpp']

[2022-03-15 05:22] Tecknique opened #49 "cmake does not produce makefile"
I have been unable to build this project, the error comes up after I try to do the command:
```make -j 6```

It looks like the cmake command does not build the necessary makefile.

I also noticed that the cmake command does not use the 'Released' type variable

Thanks,
James

[code]

[2022-03-17 11:54] mhofsaess opened #50 "negative values for the slope in degrees?"
Hi thanks for the lib.
I have a dgm file and calculated the values with slope_degrees. I wonder why I only have positive angles? I would have expected to get both positive and negative calculated.

How do I get the negative slopes as well?

I use the Python package richdem 1.21.3.

thanks
![img](https://user-images.githubusercontent.com/78035580/158803297-9f0d59e4-b3fc-434d-b0d8-1e8c743618bc.png)

[2022-05-02 06:51] Xieleilab opened #51 "the documentation website(https://richdem.com/doc/index.html) is not available"
the documentation website(https://richdem.com/doc/index.html) is not available

[2022-05-27 04:33] romainastie opened #52 "Saving a vis generated using rdshow"
Is there a way to save the image/data vis generated from rd.rdShow at the original resolution of the DEM?

[2022-06-03 02:37] feefladder commented on #49
`make -j6` is a linux command and you are on windows, as I can see from the output, which looks like you just ran `cmake ..`
<details>
[code]
</details>
According to [this answer](https://stackoverflow.com/a/61068661), you can use:
[code]
which should give output something like:
[code]
good luck!

[2022-06-03 03:15] feefladder commented on #47
big oops, my fork was horribly behind (47 commits) and it was solved in the meantime.... closing now.

[2022-06-03 03:15] #47 closed

[2022-06-30 21:43] JamesSample opened #55 "Maximum DEM size for slope calculation?"
Is there a limit to the size of the grids that can be handled by the slope calculations in `rd.TerrainAttribute`?

I'm attempting to calculate a slope map from the [ArcticDEM](https://www.pgc.umn.edu/data/arcticdem/) datasets. Using the 1 km resolution grid works fine, but the 100 m resolution grid is incorrectly truncated.

The 1 km dataset is [here](https://data.pgc.umn.edu/elev/dem/setsm/Arctic

[2022-07-21 09:15] TheMalekCH commented on #8
Heya, I faced the same problem with the "cl.exe exit code 2" and tried out the above recommendations without success. Then I tried out something additionally which did work.

First I did the following recommendations with no effect:
- Install MS Visual Studio and activate there build tools
- Use Python 3.8 instead
- Run x64 native tools command prompt
- Add cl.exe manually to PATH

Then additional

[2022-07-21 16:56] TheMalekCH opened #56 "Issue with breaching and resolving flats"
Hello there

For my bachelor thesis I am comparing preprocessing tools. I also want to include RichDEM but have an issue, especially with the FlatResolve algorithm, as some others previously had.

Because by resolving flats new depressions are produced and while I was able to use epsilon filling instead for the fill algorithm there is no alternative with the breaching algorithm. I also tried only

[2022-09-08 09:48] adehecq opened #57 "Option to silent function TerrainAttribute"
The function `TerrainAttribute` prints references to the screen when run. E.g. for the slope:

I understand the idea behind it, but it can become annoying when looping over many items, and trying to add a progress bar. I could not find any option to silent that print. Please let me know if there is a way, otherwise would it be possible to include this as an option?

Since the print is called from

[2022-10-07 20:47] RobbieTheK opened #58 "cmake 3.22.1: MPI not found; will not compile parallel programs for large-scale datasets."
The library that is packaged with [WTM](https://github.com/KCallaghan/WTM) is throwing the below errors with OpenMPI 4.1.1 and cmake 3.22.1 on RHEL 8.
[code]

[2022-10-10 13:33] RobbieTheK commented on #58
OK so I missed the OpenMP vs OpenMPI with incorrectly setting `-DOpenMP_libomp_LIBRARY="/path/to/openmpi-4.1.1_ucx_cuda_11.0.3_support/lib//libompitrace.so.40.30.0 `So I changed it to point to  /cm/local/apps/gcc/10.2.0/lib/libgomp.so.1.0.0

Here is the current error:
[code]

[2022-11-11 08:50] DBlev886 commented on #8
Thanks [TheMalekCH](https://github.com/TheMalekCH) !
Looks like newer Python version are problematic, since it only works with Python 3.8

[2022-11-24 12:29] tgrandje opened #60 "Updating richdem as python package from pypi"
Hello
Would it be possible to update richdem on pypi ? The [history](https://pypi.org/project/richdem/#history) doesn't show any action since 2018 though there has been plenty on github.

[2022-11-24 12:38] tgrandje opened #61 "richdem can't find GDAL embedded in python/fiona package"
Newest Fiona packages include embedded GDAL package. The embedded module isn't installed as the independant used to be, so richdem can't find osgeo.

To keep track of this : I just opened a question [on stackoverflow](https://stackoverflow.com/questions/74559182/how-to-import-gdal-embedded-in-new-fiona-wheels) about the best way to proceed.